extends ../layout

block content
    ol(class="breadcrumb")
        li(class="active") Events
    h2 Events List
    a(class='btn btn-success' href='/events/new')
        span(class="glyphicon glyphicon-plus")
        |  New Event
    table(class='table table-striped table-condensed table-sorted table-hover')
        thead
            tr
                th ID
                th Name
                th Description
                th Importer
        tbody
            for event in events
                tr(class='clickable-row', data-click-object='events' data-click-id='#{event.id}')
                    td= event.id
                    td
                        a(href='/events/#{event.id}')= event.name
                    td= event.description
                    td= importers[event.importer_id].name

        tfoot
            +pager


append scripts
    script(src='/javascripts/data-table.js')
