extends ../layout

block content
    h2 Attendees List for #{session.currentEvent.name}
    a(class='btn btn-success' href='/attendees/new')
        span(class="glyphicon glyphicon-plus")
        |  New Attendee
    .table-sorted-loading.alert.alert-info.top-buffer
        span(class='glyphicon glyphicon-refresh glyphicon-refresh-animate')
        |  Loading Data, please wait
    .table-responsive
        table(class='table table-condensed table-striped table-sorted table-hover')
            thead
                tr
                    th Name
                    th Email
                    th(data-value='Yes') Registered
                    th Type
                    th Checked&nbsp;In
                    th Badged
                    for field in session.currentEvent.displayFields
                        th(class="property-name")= field
            tbody
                for attendee in attendees
                    tr(class='clickable-row', data-click-object='attendees' data-click-id=attendee.id)
                        td
                            a(href='/attendees/' + attendee.id )= attendee.name
                        td= attendee.email
                        td= attendee.registered?'Yes':'No'
                        td= attendee.type
                        td= attendee.checked_in?'Yes':'No'
                        td= attendee.badged?'Yes':'No'
                        for field in session.currentEvent.displayFields
                            td(style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden; max-width:150px;" title=attendee.data[field])= attendee.data[field]

            tfoot
                tr
                    th Name
                    th Email
                    th Registered
                    th Type
                    th Checked In
                    th Badged
                    for field in session.currentEvent.displayFields
                        th(class="property-name" )= field
                +pager

append scripts
    script(src='/javascripts/data-table.js')
