extends ../layout

block content
    h2 Attendees List for #{session.currentEvent.name}
    table(class='table table-striped table-condensed')
        thead
            tr
                th Name
                th Email
                th Registered
                th Type
                th Checked In
                th Badged
                for field in session.currentEvent.displayFields
                    th(class="property-name")= field
        tbody
            for attendee in attendees
                tr
                    td
                        a(href='/attendee/#{attendee.id}')= attendee.name
                    td= attendee.email
                    td= attendee.registered?'Yes':'No'
                    td= attendee.type
                    td= attendee.checked_in?'Yes':'No'
                    td= attendee.badged?'Yes':'No'
                    for field in session.currentEvent.displayFields
                        td= attendee.data[field]

