extends ../layout

block content
    ol(class="breadcrumb")
        li
            a(href='/users') Users
        li(class="active")= user.name


    h2=user.name
    div(class="alert alert-info",id="alert-messages")

    div(class='row')
        div(class='col-sm-12')
            table(class='table table-striped table-condensed')
                thead
                    tr
                        th Username
                        th Admin
                        th Locked
                        th Events
                tbody
                    tr
                        td= user.username
                        td= user.admin?'Yes':'No'
                        td= user.locked?'Yes':'No'
                        td
                            ul
                                for event in user.events
                                    li #{event.name}: #{event.admin?'Admin':'User'}
    -if(checkPermission('admin') || (checkPermission('eventadmin') && ! user.admin ))
        a(class="btn btn-default" href='/users/' + user.id + '/edit') Edit



    -if (audits.length && checkPermission('admin'))
        .panel#auditHistoryPanel(class="panel-default")
            .panel-heading#auditHistoryPanelHeading
                h3.panel-title Audit History
                    | &nbsp;
                    span.caret
            table#auditHistoryTable(class='table table-striped table-condensed table-sorted')
                thead
                    tr
                        th ID
                        th Timestamp
                        th Type
                        th Item
                        th Action
                        th Details

                tbody
                    for audit in audits
                        tr
                            td= audit.id
                            td= moment(audit.created).format('MMMM DD YYYY, HH:mm:ss')
                            td= audit.object_type
                            td
                                if (audit.deleted)
                                    = audit.object
                                else
                                    a(href='/' + audit.object_type + 's/' + audit.object_id)= audit.object
                            td= audit.action
                            td
                                - if (_.has(audit.data, 'field'))
                                    - if (audit.data.old && audit.data.new)
                                        | Changed #{audit.data.field} from #{audit.data.old} to #{audit.data.new}
                                    - else if (audit.data.old)
                                        | Cleared #{audit.data.field} ( was #{audit.data.old} )
                                    - else
                                        | Set #{audit.data.field} to #{audit.data.new}
                                - else if (_.has(audit.data, 'note'))
                                    | Note #{audit.data.note}
                tfoot
                    +pager

append scripts
    script(src='/javascripts/data-table.js')
    script(src='/javascripts/auditHistory.js')
